<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Theme Song Import Success</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
</head>
<body>
<h1>Song Importer</h1>
<p th:text="${successMessage}">Success Message</p>
<h2>Imported Songs</h2>
<table>
    <tr>
        <th>Artist</th>
        <th>Song Title</th>
        <th>Release Title</th>
        <th>Release Type</th>
        <th>Themes</th>
    </tr>
    <tr th:each="songView : ${songViews}">
        <td th:text="${songView.artist}">Artist</td>
        <td th:text="${songView.songTitle}">Song Title</td>
        <td th:text="${songView.releaseTitle}">Release Title</td>
        <td th:text="${songView.releaseType}">Release Type</td>
        <td th:text="${songView.themes}">Themes</td>

    </tr>
</table>
</body>
</html>