<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>Theme Song Import</title>
</head>
<body>
<h1>Song Importer</h1>
<p th:each="message : ${failureMessages}" th:text="${message}" style="color:red">Failure Message</p>
<form action="song-import" method="post">
    <div>
        <label for="tsvSongs">Paste your tab separated songs here</label>
        <p></p>
        <textarea th:text="${tsvSongs}" id="tsvSongs" name="tsvSongs" rows="20" cols="100"></textarea>
    </div>
    <button type="submit">Import</button>
</form>
</body>
</html>